@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=Swap');
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    color: white;
}
body{
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
  }
html{
    scroll-behavior: smooth;
}
.max-width{
    padding: 0 80px;
    margin: auto;
}

.about .title{
    position: relative;
    text-align: center;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 60px;
    padding-bottom: 20px ;
    font-size: 3rem;
    padding: 2%;
    padding-top: 8%;
    transition: 0.2s ease-in-out;
}
.about .title::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.about .title::after{
    content:"Our Vision";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(241, 58, 58);
    padding: 5px;
     background:rgb(179, 179, 231);
    transform: translateX(-50%);
}
.about .about-content{
     display:flex;
     align-items: center;
     flex-direction: row;
     padding: 20px;
     font-size: 25px;
    font-weight: 600;
}

.about .about-content .right{
    width: 140%;
    margin-right: 90px;
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #00425A ;
    border-radius: 10px;
    padding: 3rem 2rem;
    
}
.text{
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #00425A ;
    border-radius: 10px;
    padding: 3rem 2rem;
}
.text p{
    text-align: justify;
    font-size: 23px;
    color: #00425A;
    margin-top: 20px;
}
.about .about-content .text{
    display: flex;
    flex-direction: column;
}
span{
    font-size: 33px;
    color:rgb(135, 36, 36);
    font-family: cursive;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 23px;
    color: #00425A;
    margin-top: 20px;
}

.about .about-content .right a:hover{
    color: orangered;
    background: none;
}