<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./About.css" rel="stylesheet">
    <link href="./design.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <title>One Tap To Share!</title>
</head>
<body>
    <div class="topnav">
        <a onclick="location.href='/'">Home</a>
        <a class="active" onclick="location.href='/about'">About</a>
        <a onclick="location.href='/contact'">Contact </a>
        <a onclick="location.href='/testimonial'">Testimonial</a>
        <a onclick="location.href='/login'">Login </a>
        <a onclick="location.href='/signup'">Sign Up </a>
    </div>

    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title title-word">About Us</h2>
            <div class="about-content">
                <div class="column right">
                    <span>What is this ?</span>
                     <p>It is one of the Person to person file sharing applications.Sometimes we need to transfer huge documents and file from our
                         device to another mobile device .It makes that task easy and fast.</p>
                </div>
    

                <div class="text"><span> Features </span>
                    <p>It`s easy to use and doesnot necessitate any complex setup.<br>It allows to connect several devices to a wireless network. User has the option to login, signup and contact us.</p>
                </div>
                </div>
            </div>
        </div>
    </section>
    <div class="snowflakes" aria-hidden="true">
  
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
      </div>
    
</body>
</html>

