<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./contact.css" rel="stylesheet">
    <link href="./design.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <title>One Tap To Share!</title>
</head>
<body>


<section class="contact2" id="contact2">
    <div class="max-width">
        <h2 class="title title-word contact-word">Contact Us</h2>
    <div class="contact-content">
     <div class="column left">
        <div class="icons">
            <div class="rows">
                <i class="fas fa-user"></i>
                <div class="info">
                    <div class="head">Name</div>
                    <div class="sub-title">ABC XYZ</div>
                </div>
            </div>
            <div class="rows">
                <i class="fas fa-map-marker-alt"></i>
                <div class="info">
                    <div class="head">Phone</div>
                    <div class="sub-title">+91 1234567891 / +91 9876543219</div>
                </div>
            </div>
            <div class="rows">
                <i class="fas fa-envelope"></i>
                <div class="info">
                    <div class="head">Email Address</div>
                    <div class="sub-title">abc123@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column right">
        <div class="text"><h2>Message me</h2></div>
        <form action="#">
            <div class="fields">
                <div class="field name">
                     <input type="text" placeholder="Name" required>
                </div>
                <div class="field email">
                    <input type="text" placeholder="email"required>
               </div>
            </div>
               <div class="field">
                <input type="text" placeholder="Subject"required>
              </div>
              <div class="field textarea">
                <textarea cols="20" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="button">
                <button class="btnn" type="submit">Send message</button>
            </div>
        </form>
    </div>
  </div>
</div>
</section>
<div class="snowflakes" aria-hidden="true">
  
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
  </div>
</body>
</html>