@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=Swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Silkscreen', cursive;
}
html{
    scroll-behavior: smooth;
}

.contact2{
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #00425A ;
    border-radius: 10px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-top: 5%;
    width: 60%;
    padding-bottom: 60px;
}
.contact-word{
    text-align: center;
    margin-bottom: 25px;
}
/* .contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px ;
    font-family: 'Ubuntu',sans-serif;
} */
/* .contact .title::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.contact .title::after{
    content:"Get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: turquoise;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
} */

.contact-content{
    display: flex;
    flex-direction: row;
}
.contact2 .contact-content .info .head{
    font-weight: 500;
    color:brown;
    font-size: 25px;
}
.contact2 .contact-content .info .sub-title{
    color:#333;
    margin-bottom: 60px;
    font-size: 20px;
}


.contact-content .left{
    margin-right: 60px;
}

.right .text h2{
    font-weight: 500;
    color:brown !important;
    font-size: 25px;
}

.field{
    margin-bottom: 10px;
}

.right .btnn{
    background-color: brown;
    padding: 10px;
    border: 2px solid #333 ;
    border-radius: 10px;
    margin-top: 20px;
}